<p>List of items <button md-button (click)="deleteEverything()">Delete All Items</button></p>

<div>
  <md-input-container>
    <input mdInput placeholder="Name" #newname>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Description" #newdescription>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Estimated Cost" #newcost>
  </md-input-container>
  <button md-button class="btn" (click) = "itemsPush(newname.value, newdescription.value, newcost.value)" >Add</button>
</div>

<md-list>
  <h3 md-subheader>Folders</h3>
  <md-list-item *ngFor="let item of items | async">
    <p md-line>
      <md-input-container>
        <input mdInput value="{{item.name}}" #updatename>
      </md-input-container>
      <md-input-container>
        <input mdInput value="{{item.description}}" #updatedescription>
      </md-input-container>
      <md-input-container>
        <input mdInput value="{{item.estimated_cost}}" #updatecost>
      </md-input-container>
      <button md-button class="btn" (click)="updateItem(item.$key, updatename.value, updatedescription.value, updatecost.value)">Update</button>
      <button md-button class="btn" (click)="deleteItem(item.$key)">Delete</button>
    </p>
  </md-list-item>
</md-list>
